body {
    margin: 0;
    font-family: system-ui;
    background: #0f172a;
    color: white;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 15px;
}

input, button {
    width: 100%;
    margin-top: 10px;
    padding: 14px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

button {
    background: #3b82f6;
    color: white;
    cursor: pointer;
}

.progress {
    margin-top: 15px;
    height: 12px;
    background: #334155;
    border-radius: 8px;
    overflow: hidden;
}

#progressBar {
    height: 100%;
    width: 0%;
    background: #22c55e;
}

#log {
    margin-top: 15px;
    font-size: 13px;
    white-space: pre-line;
}
