body {
    margin: 0;
    font-family: monospace;
    background: radial-gradient(circle at top, #0a0f2c, #000);
    color: #00ffe7;
}

.app {
    max-width: 650px;
    margin: auto;
    padding: 30px;
    text-align: center;
}

h1 {
    font-size: 42px;
    letter-spacing: 4px;
    text-shadow: 0 0 20px #00ffe7;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 16px;
    font-size: 16px;
    border: 1px solid #00ffe7;
    background: transparent;
    color: #00ffe7;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #00ffe7;
    color: black;
    box-shadow: 0 0 15px #00ffe7;
}

.progressBox {
    margin-top: 25px;
    height: 14px;
    background: #111;
    border: 1px solid #00ffe7;
    border-radius: 8px;
    overflow: hidden;
}

#progressBar {
    height: 100%;
    width: 0%;
    background: #ff00ff;
    box-shadow: 0 0 15px #ff00ff;
}

#log {
    margin-top: 20px;
    font-size: 12px;
    text-align: left;
    white-space: pre-line;
}
